<!-- Here goes the navbar-->
<div class="banner-bookings">
  <div class="banner-text-bookings">
    <h1 class="banner-headers">My Bookings</h1>
  </div>
</div>

<div class="container">
  <h1 class="header-show">Upcoming bookings</h1>
  <% if @future_bookings != nil %>
    <% @future_bookings.each do |booking| %>
      <div class="event-card-booking">
        <div class="col-3">
          <%= cl_image_tag booking.event.chef.photo.key, id: "chef-img-booking"%>
        </div>
        <div class="right col-9">
          <div>
            <h2>Chef <%= booking.event.chef.name %></h2>
            <div class="line"></div>
            <p class="host-style">Host: Gabriela Sanchez</p>
          </div>
          <div class="d-flex justify-content-between">
            <div>
              <div class="emojis">
                <div class="d-flex align-items-center emoji-padding">
                  <i class="far fa-calendar-check color-yellow"></i>
                  <!-- This needs to be dinamic -->
                  <p class="ml-2 mb-0"><%= booking.event.date.strftime("%d of %B, %Y") %></p>
                </div>
                <div class="d-flex align-items-center emoji-padding">
                  <i class="fas fa-map-marker-alt color-yellow"></i>
                  <p class="ml-2 mb-0"><%= booking.event.address %></p>
                </div>
                <div class="d-flex align-items-center emoji-padding">
                  <i class="far fa-user color-yellow"></i>
                  <p class="ml-2 mb-0">Number of guests: <%= booking.number_people %></p>
                </div>
                <div class="d-flex align-items-center emoji-padding">
                  <i class="fas fa-euro-sign color-yellow"></i>
                  <p class="ml-2 mb-0">Total price: <%= booking.event.price * booking.number_people %> EUR </p>
                </div>
              </div>
            </div>
          </div>
          <button type="button" class="btn yellow-btn low-btn" id="edit-btn-future" data-toggle="modal" data-target="#exampleModalCenter" id="button-price">
            Edit your booking
          </button>
        </div>
      </div>
      <div class="container">
        <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
          <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title modal-booking" id="exampleModalLongTitle">Reservation details:</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                <div class="row">
                  <div class="col-6 card-booking">
                    <p class="chef-title"> <%= booking.event.chef.name %> </p>
                    <%= cl_image_tag booking.event.chef.photo.key, class: "event-image-book" %>
                  </div>
                  <div class="col-6 body-booking">
                    <p class="text-booking-date">
                      <i class="far fa-calendar-check color-yellow"></i>
                      <%= booking.event.date.strftime("%d of %B, %Y") %>
                    </p>
                    <p class="text-booking">
                      <i class="fas fa-map-marker-alt color-yellow"></i>
                      <%= booking.event.address %>
                    </p>
                    <p class="total-cost">Total cost:</p>
                  </div>
                </div>
                <div class="row">
                  <div class="col-6">
                    <%= render 'bookings/form', booking: booking, event: booking.event %>
                  </div>
                  <div class="col-6" id="event-price" data-price="<%= booking.event.price %>">
                    <%= booking.event.price %> <span class="text-eur">EUR</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  <% end %>
</div>

<div class="container">
  <h1 class="header-show">Past bookings</h1>
  <% if @past_bookings != nil %>
    <% @past_bookings.each do |booking| %>
      <div class="event-card-booking">
        <div class="col-3">
          <%= cl_image_tag booking.event.chef.photo.key, id: "chef-img-booking"%>
        </div>
        <div class="right col-9">
          <div>
            <h2>Chef <%= booking.event.chef.name %></h2>
            <div class="line"></div>
            <p class="host-style">Host: Lilian Andersson</p>
          </div>
          <div class="d-flex justify-content-between">
            <div>
              <div class="emojis">
                <div class="d-flex align-items-center emoji-padding">
                  <i class="far fa-calendar-check color-yellow"></i>
                  <!-- This needs to be dinamic -->
                  <p class="ml-2 mb-0"><%= booking.event.date.strftime("%d of %B, %Y") %></p>
                </div>
                <div class="d-flex align-items-center emoji-padding">
                  <i class="fas fa-map-marker-alt color-yellow"></i>
                  <p class="ml-2 mb-0"><%= booking.event.address %></p>
                </div>
                <div class="d-flex align-items-center emoji-padding">
                  <i class="far fa-user color-yellow"></i>
                  <p class="ml-2 mb-0">Number of guests: <%= booking.number_people %></p>
                </div>
                <div class="d-flex align-items-center emoji-padding">
                  <i class="fas fa-euro-sign color-yellow"></i>
                  <p class="ml-2 mb-0">Total price: <%= booking.event.price * booking.number_people %> €</p>
                </div>
              </div>

              <!-- Button add a review -->
              <button type="button" class="btn black-btn" id="edit-btn-past" data-toggle="modal" data-target="#review">
              <%= booking.review ? "See reviews" : "Add a review" %>
              </button>

              <!-- Modal -->
              <div class="modal fade" id="review" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered" role="document">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title" id="exampleModalLongTitle"><%= booking.review ? "See all reviews" : "Add a review" %></h5>
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                      </button>
                    </div>
                    <div class="modal-body">
                      <% if current_user.reviews.include?(booking.review)%>
                       <% booking.event.reviews.each do |review|  %>
                        <div id="review-display">
                          <p><strong>User´s name:</strong> <%= review.booking.user.name %></p>
                          <p><strong>Overall rating:</strong> <%= review.rating %></p>
                          <p><strong>Host rating:</strong> <%= review.rating_host %></p>
                          <p><strong>Comment:</strong> <%= review.comment %></p>
                        </div>
                       <%  end  %>
                      <% else  %>
                        <%= render 'reviews/form', review: @review, booking: booking %>
                      <% end %>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  <% end %>
</div>
