<!-- Banner -->
<div class="banner-index">
  <div class="banner-text">
    <h1 class="banner-headers">Dining Room</h1>
    <p>Intimate dinners hosted by locals, cooked by professional chefs.</p>
  </div>
</div>

<div class="container">
  <!-- Upcoming Events -->
  <h2>Upcoming events</h2>
  <div class="main-card">
    <div id="carousel-1" class="carousel slide" data-ride="carousel">
      <div class="carousel-inner">
        <% @future_events.each_with_index do |event, index| %>
          <div class="<%= index == 0 ? 'carousel-item active' : 'carousel-item' %>">
            <div class="row">
              <div class="left-card col-6">
                <%= cl_image_tag event.chef.photo.key, class: "event-image"%>
              </div>
              <div class="right-card col-6">
                <!-- Chef's name as title -->
                <h2><%= event.chef.name %></h2>
                <p class="decription-spacing"><%= event.description %></p>
                <div id="date-container">
                  <i class="fas fa-calendar-alt color-yellow"></i>
                  <p class="p-position"><%= event.date.strftime("%d of %B, %Y") %></p>
                </div>
                <%= link_to "Find out more", event_path(event), class: "btn yellow-btn", id: "btn-position" %>
              </div>
            </div>
          </div>
        <% end %>
      </div>
      <!-- Links to scroll on the carousel -->
      <a class="carousel-control-prev color-black" href="#carousel-1" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="carousel-control-next color-black" href="#carousel-1" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>
  </div>
</div>

<!-- --------------------------------------------------------------------------------------------- -->
<!-- About Dining Room -->
<!-- Outside of first container -->

<div class="container">
  <h2>About Dining Room</h2>

  <div class="main-card">
    <div id="carouselExampleControls" class="carousel slide carousel-size" data-ride="carousel">
      <div class="carousel-inner">

        <div class="carousel-item active">
          <div class="row">
            <div class ="left-card-about col-6">
              <%= image_tag "table.jpg", class: "d-block w-100 index-border", alt: "First slide"%>
              <!-- <img class="d-block w-100" src="assets/table.jpg" alt="First slide"> -->
            </div>
            <div class="right-card-about col-6">
              <h2>Local hosts</h2>
              <p class="decription-spacing">Open the doors of their dining room to a group of people to experience a unique meal</p>
            </div>
          </div>
        </div>

        <div class="carousel-item">
          <div class="row">
            <div class ="left-card-about col-6">
              <%= image_tag "chef.jpg", id: "second-slide-img" ,class: "d-block w-100 index-border", alt: "Second slide"%>
              <!-- <img class="d-block w-100 img-opacity img-fluid" src="assets/chef.jpg" alt="Second slide"> -->
            </div>
            <div class="right-card-about col-6">
              <h2>Professional chefs</h2>
              <p class="decription-spacing">Every event is catered by a professional chef, who creates a special menu with a personal story behind it</p>
            </div>
          </div>
        </div>

        <div class="carousel-item">
          <div class="row">
            <div class ="left-card-about col-6">
              <%= image_tag "people.jpg", class: "d-block w-100 index-border", alt: "Third slide"%>
              <!-- <img class="d-block w-100 img-opacity" src="assets/people.jpg" alt="Third slide"> -->
            </div>
            <div class="right-card-about col-6">
              <h2>Meet like-minded people</h2>
              <p class="decription-spacing">Every event brings new people topgether, creating the opportunity for like-minded people to meet and share a great evening</p>
            </div>
          </div>
        </div>
      </div>

      <a class="carousel-control-prev color-black arrow-prev" href="#carouselExampleControls" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="carousel-control-next color-black arrow-next" href="#carouselExampleControls" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>
  </div>
 </div>
