<!-- Banner-->
<div class="banner-event" style="background: url(<%= url_for(@event.photo) %>); background-size: cover; background-position: bottom;">
  <div class="banner-text-event">
    <h1 class="<%= params[:id] == "2" ? 'banner-headers-white' : 'banner-headers' %>">Chef <%= @event.chef.name %></h1>
    <button type="button" class="btn yellow-btn event-btn banner-btn" data-toggle="modal" data-target="#exampleModalCenter" id="button-price">
      Book this event
    </button>
  </div>
</div>

<div class="container">
  <div id="event-date">
    <i class="fas fa-calendar-alt color-yellow" id="date-event-show"></i>
    <p><%= @event.date.strftime("%d of %B, %Y") %></p>
  </div>

  <!-- ---------------------------------------------------- -->
  <h2>About <%= @event.chef.name %></h2>
  <div class="event-card">
    <div class="text-card-right">
      <p class="decription-spacing"><%= @event.chef.description %></p>
    </div>
    <%= cl_image_tag @event.chef.photo.key, id: "chef-img", class: "event-image-book" %>
  </div>

  <!------------------------------------------------------- -->
  <h2>About the Menu</h2>
  <div class="event-card">
    <%= cl_image_tag @event.menu.photo.key, id: "event-image-menu" %>
    <%#= image_tag "menu.jpg", id: "menu-img", alt: "menu", width: 200%>
    <div class="text-card-left">
      <p id="menu-p-padding" class="decription-spacing"><%= @event.menu.description %></p>
      <!-- Button trigger modal -->
      <button type="button" class="btn yellow-btn" data-toggle="modal" data-target="#menu">
        See the menu
      </button>

      <!-- Modal -->
      <div class="modal fade" id="menu" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h2 class="modal-title menu-title-padding" id="exampleModalLongTitle">Menu</h2>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body" id="menu-padding">
              <!-- Appetizer -->
              <%= cl_image_tag @event.menu.dishes.find_by(name: "Appetizer").photo.key, class: "event-image-dish", alt: "Appetizer" %>
              <div class="event-info-menu-right">
                <h2><%= @event.menu.dishes.find_by(name: "Appetizer").name %></h2>
                <p><%= @event.menu.dishes.find_by(name: "Appetizer").description %></p>
              </div>
              <!-- Main Course -->
              <%= cl_image_tag @event.menu.dishes.find_by(name: "Main Course").photo.key, id: "event-image-dish", alt: "Main Course" %>
              <div id="event-info-menu-left">
                <h2><%= @event.menu.dishes.find_by(name: "Main Course").name %></h2>
                <p><%= @event.menu.dishes.find_by(name: "Main Course").description %></p>
              </div>
              <!-- Dessert -->
              <%= cl_image_tag @event.menu.dishes.find_by(name: "Dessert").photo.key, class: "event-image-dish", alt: "Dessert" %>
              <div class="event-info-menu-right">
                <h2><%= @event.menu.dishes.find_by(name: "Dessert").name %></h2>
                <p><%= @event.menu.dishes.find_by(name: "Dessert").description %></p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- ----------------------------------------------------- -->
  <h2>About the venue</h2>
  <div class="event-card">
    <%= image_tag "olive.jpg", id: "olive-img", alt: "olive", width: 200%>
    <div class="text-card-left">
      <div class="container-stars">
        <h2><%= @event.user.name %></h2>
        <div id="star-set">
          <i class="far fa-star checked"></i>
          <i class="far fa-star checked"></i>
          <i class="far fa-star checked"></i>
          <i class="far fa-star checked"></i>
          <i class="far fa-star"></i>
        </div>
        <div>
          <p class="decription-spacing">Your host for this evening will be <%= "#{@event.user.name}" %>, who has been living in Berlin for 14 years and has hosted a total of five events with Dining Room.<p>
        </div>
      </div>
    </div>
  </div>
  <h3 class="mb-5">Location</h3>
  <div id="map"
    style="width: 100%; height: 400px;"
    data-markers="<%= @markers.to_json %>"
    data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
  </div>
</div>

<!-- Modal Buttons Book / Previews and Next -->
<div class="container">
  <div class="container my-5">
    <div class="row">
      <div class="col-6">
        <button type="button" class="btn yellow-btn" data-toggle="modal" data-target="#exampleModalCenter" id="button-price">
          Book this event
        </button>
      </div>
      <% unless @future_events.first == @event %>
        <div class="col-6">
          <%= link_to "Previous event", event_path(@event.id - 1), class: "btn black-btn float-right previous-button" %>
        </div>
      <% end %>
      <% unless @future_events.last == @event %>
        <div class="col-6 ">
          <p> <%= link_to "Next event", event_path(@event.id + 1), class: "btn black-btn float-right next-button" %> </p>
        </div>
      <% end %>
    </div>
  </div>
</div>

<!-- Modal -->
<div class="container">
  <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title modal-booking" id="exampleModalLongTitle">Reservation details:</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="row">
            <div class="col-6 card-booking">
              <p class="chef-title"> <%= @event.chef.name %> </p>
              <%= cl_image_tag @event.chef.photo.key, class: "event-image-book" %>
            </div>
            <div class="col-6 body-booking">
              <p class="text-booking-date">
                <i class="fas fa-calendar-alt color-yellow"></i>
                <%= @event.date.strftime("%d of %B, %Y") %>
              </p>
              <p class="text-booking">
                <i class="fas fa-map-marker-alt color-yellow"></i>
                <%= @event.address %>
              </p>
              <p class="total-cost">Total cost:</p>
            </div>
          </div>
          <div class="row">
            <div class="col-6">
              <%= render 'bookings/form', booking: @booking, event: @event %>
            </div>
            <div class="col-6" id="event-price" data-price="<%= @event.price %>">
              <%= @event.price %> <span class="text-eur">EUR</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
